#slider-outline #slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding:0px 0px;
}

#slider-outline #sl-view{
    clear: both;
    position: relative;
    margin: 0 auto;
}
#slider-outline #sl-wrap{
    clear: both;
    position: absolute;
    margin: 0 auto;
	text-align: center;
}

#slider-outline .sl-div{
    float: left;
    color: #fff;
	background: #2a363f;
}

#slider-outline .sl-div img {
	opacity: 0.7;
	transition: all 0.3s ease;
	margin-top: -267px;
	position: relative;
	z-index: 1;
}
#slider-outline .sl-div img:hover {
	cursor: pointer;
	opacity: 1;
}

#slider-outline .sl-div a {
	float: left;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
	text-align: center;
    background: #2a363f;
	visibility: hidden;
	margin-top: 230px;
	margin-left: 36%;
	position: relative;
	 z-index: 2;
}
#slider-outline .sl-div:hover a {
	visibility: visible;
}




#slider-outline #sl-next, #slider-outline #sl-prev{
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 72px;
	font-weight: 300;
    height: 100%;
    top: 0px;
    cursor: pointer;
	background-color: rgba(0,0,0,0.75);
}
#slider-outline #sl-next>span, #slider-outline #sl-prev>span{
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    margin-top: -25px !important;
    color: #fff;
}
#slider-outline #sl-next:hover, #slider-outline #sl-prev:hover{
    background-color: rgba(0,0,0,0.9);
	transition: all 0.3s ease;
}
#slider-outline #sl-next{
    right: 0px;
    z-index: 5000;
}
#slider-outline #sl-prev{
    left: 0px;
    z-index: 5000;
}

#slider-outline #sl-nav{
    position: absolute;
    z-index: 5000;
}
#slider-outline #sl-nav>p{
    font-size: 20px;
    float: left;
    margin: 0 10px;
    color: #aaa;
    cursor: pointer;
}
#slider-outline #sl-nav>p:hover{
    color: #eee;
    text-shadow: 0px 1px 0px #333;
}
#slider-outline #sl-nav>p.hit{
    color: #0080FF;
}
#slider-outline #sl-nav>p.hit:hover{
    color: #eee;
}








