/**
 *  Master Slider
 *  Default Skin
 */
.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn{
	width: 102px;
	height: 102px;
	background: url(video-icon.png) no-repeat left top;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
}



.ms-skin-default .ms-slide .ms-slide-vcbtn {
	width: 30px;
	height: 30px;
	background: url(light-skin-1.png) no-repeat -24px -28px;
	top: 18px;
	right: 30px;
}

/* controls */

.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev {
	width: 30px;
	background: url(light-skin-1.png);
	background-position: -89px -26px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	z-index: 110;
}
.ms-skin-default .ms-nav-next {
	right: 30px;
	left: auto;
	background-position: -89px -103px;
}



.ms-skin-default .ms-bullet {
	width: 10px;
	height: 10px;
	background: url(light-skin-1.png) no-repeat;
	margin: 4px;
	background-position: -34px -117px;
}

.ms-skin-default .ms-bullet-selected {
	background-position: -34px -84px;
}


.ms-skin-default .ms-time-bar {
	height: 3px;
	background: #FFFFFF;
	border-top: solid 1px rgba(0, 0, 0, 0.41);
}


.ms-skin-default .ms-tooltip{
	position: absolute;
	z-index: 210;
	cursor: auto;
}

.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow{
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}

.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow{
	border-top: solid 10px;
	border-top-color: silver;
	border-top-color: rgba(240, 240, 240, 0.88);
	bottom: -10px;
}

.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom: solid 10px;
	border-bottom-color: silver;
	border-bottom-color: rgba(240, 240, 240, 0.88);
	top: -10px;
}

.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow{
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow{
	border-right: solid 10px;
	border-right-color: silver;
	border-right-color: rgba(240, 240, 240, 0.88);
	left: -10px;
}

.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-left: solid 10px;
	border-left-color: silver;
	border-left-color: rgba(240, 240, 240, 0.88);
	right: -10px;
}

.ms-skin-default .ms-tooltip-point {cursor: pointer;}
.ms-skin-default .ms-tooltip-point .ms-point-center {
	width: 12px;
	height: 12px; 
	border-radius: 15px;
	border: solid 2px #BBB;
	background: white;
	margin: -8px 0 0 -8px;
	position: absolute;
	z-index: 105;
}

.ms-skin-default .ms-tooltip-point .ms-point-border {
	width: 22px;
	height: 22px; 
	background: black;
	background:rgba(0, 0, 0, 0.36);
	margin: -11px 0 0 -11px;
	position: absolute;
	border-radius: 15px;
	
	animation: point-anim 1.5s infinite ;
	-moz-animation: point-anim 1.5s infinite;
	-webkit-animation: point-anim 1.5s infinite;
	-o-animation: point-anim 1.5s infinite;
}

.ms-skin-default .ms-tooltip {
	max-width:200px;
}

.ms-skin-default .ms-tooltip-cont {
	padding: 10px;
	background: silver;
	background: rgba(240, 240, 240, 0.88);
	text-shadow: 0 1px 0px white;
	margin-left: -1px;
}





/* slider text styles */

.ms-layer.text1 {
	color: #2a363f;
	font-size: 30px;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
.ms-layer.text1.center {
	width: 100%;
	text-align: center;
}
.ms-layer.text1 strong {
	font-weight: 800;
}
.ms-layer.text1.white {
	color: #fff;
}

.ms-layer.text2 {
	color: #2a363f;
	font-size: 72px;
	line-height: 75px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
}
.ms-layer.text2 em {
	color: #7399e7;
	font-style: normal;
}
.ms-layer.text2 strong {
	font-weight: 900;
}
.ms-layer.text2.center {
	width: 100%;
	text-align: center;
}
.ms-layer.text2.white {
	color: #fff;
}

.ms-layer.text3 {
	color: #2a363f;
	font-size: 18px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}
.ms-layer.text3 em {
	color: #7399e7;
	font-style: normal;
	font-weight: bold;
}
.ms-layer.text3.center {
	width: 100%;
	text-align: center;
}
.ms-layer.text3.two {
	text-align: center;
}
.ms-layer.text3.white {
	color: #fff;
}

.ms-layer.text4 {
	color: #2a363f;
	font-size: 45px;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
}
.ms-layer.text4 em {
	color: #7399e7;
	font-style: normal;
}
.ms-layer.text4 strong {
	font-weight: 900;
}
.ms-layer.text4.center {
	width: 100%;
	text-align: center;
}
.ms-layer.text4.white {
	color: #fff;
}


/* slider button styles */
.ms-layer.sbut1 {
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background: #2a363f;
	padding: 16px 34px;
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.ms-layer.sbut1:hover {
	color: #fff;
	background: #7399e7;
}

.ms-layer.sbut1.white {
	color: #2a363f;
	background: #fff;
}
.ms-layer.sbut1.white:hover {
	color: #fff;
	background: #2a363f;
}


.ms-layer.sbut2 {
	color: #fff;
	font-size: 16px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background: #7399e7;
	padding: 13px 30px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.ms-layer.sbut2:hover {
	color: #fff;
	background: #393939;
}



.ms-layer.vline {
	width: 1px;
	height: 70px;
	background: #7399e7;
}
.ms-layer.sbox1 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	padding: 20px 16px 57px 20px;
	background: #7399e7;
}
.ms-layer.sbox1 strong {
	font-size: 27px;
	font-weight: 800;
	line-height: 32px;
}

.ms-layer.cirbox1 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	width: 115px;
	height: 88px;
	padding-top: 27px;
	border-radius: 100%;
	background: #2a363f;
}
.ms-layer.cirbox1 em {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
}

.ms-layer.cirbox1.colored {
	color: #fff;
	background: #7399e7;
}


.ms-layer .dncfont {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	letter-spacing: 1px;
	line-height: 27px;
}


@media only screen and (min-width: 1000px) and (max-width: 1169px){
.ms-layer.sbox1 {
	line-height: 21px;
}
.ms-layer.sbox1 strong {
	font-size: 18px;
	line-height: 27px;
}

.ms-layer.cirbox1 {
	width: 80px;
	height: 62px;
	padding-top: 20px;
}
.ms-layer .dncfont {
	font-size: 12px;
	line-height: 18px;
}


}


@media only screen and (min-width: 768px) and (max-width: 999px){
.ms-layer.sbox1 {
	line-height: 21px;
}
.ms-layer.sbox1 strong {
	font-size: 18px;
	line-height: 25px;
}

.ms-layer.cirbox1 {
	width: 75px;
	height: 57px;
	padding-top: 27px;
}
.ms-layer .dncfont {
	font-size: 12px;
	line-height: 18px;
}

}


@media only screen and (min-width: 640px) and (max-width: 767px){
.ms-layer.sbox1 {
	line-height: 21px;
}
.ms-layer.sbox1 strong {
	font-size: 14px;
	line-height: 18px;
}

.ms-layer.cirbox1 {
	width: 61px;
	height: 48px;
	padding-top: 27px;
}
.ms-layer.cirbox1 em {
	font-size: 9px;
}
.ms-layer .dncfont {
	font-size: 9px;
	line-height: 16px;
}


}


@media only screen and (min-width: 480px) and (max-width: 639px){
.ms-layer.sbox1 {
	line-height: 21px;
}
.ms-layer.sbox1 strong {
	font-size: 9px;
	line-height: 18px;
}

.ms-layer.cirbox1 {
	width: 54px;
	height: 40px;
	padding-top: 40px;
}
.ms-layer.cirbox1 em {
	font-size: 7px;
}
.ms-layer .dncfont {
	font-size: 9px;
	line-height: 16px;
}


.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn{
	width: 50px;
	height: 50px;
	background-size: 100%;
	margin: -25px 0 0 -25px;
}



}


@media only screen and (max-width: 479px){
.ms-layer.sbox1 {
	line-height: 21px;
}
.ms-layer.sbox1 strong {
	font-size: 9px;
	line-height: 18px;
}

.ms-layer.cirbox1 {
	width: 40px;
	height: 30px;
	padding-top: 50px;
}
.ms-layer.cirbox1 em {
	font-size: 7px;
}
.ms-layer .dncfont {
	font-size: 5px;
	line-height: 9px;
}


.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn{
	width: 50px;
	height: 50px;
	background-size: 100%;
	margin: -25px 0 0 -25px;
}




}









/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	.ms-skin-default .ms-slide .ms-slide-vpbtn,
	.ms-skin-default .ms-video-btn,
	.ms-skin-default .ms-slide .ms-slide-vcbtn,
	.ms-skin-default .ms-nav-next,
	.ms-skin-default .ms-nav-prev,
	.ms-skin-default .ms-bullet{
		background-image:url(light-skin-1-retina.png);
		background-size: 152px 225px;
	}
	
}